/*Import Google Font Julius Sans One*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* natural box model */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* UTILITIES */
/* hides an element on screen, but not from screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

:root{
  --darkPink: #c1a7a7;
  --lightPink: #f4e7e7;
  --medPink: #eedbdb;
  --grey: #cecbcb;
  --mint: #cbdadb;
}

/* no break */
.nobr {
  white-space: nowrap;
}

/* START STYLES HERE */
body {
  font-family: 'Varela Round', sans-serif;
  background-color: var(--mint);
}

.menu {
  max-height: 300px;
}

.pic {
  height: 17em;
  border: 2px var(--darkPink);
  border-radius: 1em;
  margin: 5px auto;
  max-width: 95%;
}

.icon {
  height: 90%;
  width: 80%;
  margin: 1em auto;
}

.attribution {
  color: var(--darkPink);
  text-decoration: none;
  position: absolute;
  font-size: 9px;
  right: 10px;
}

.attribution a {
  color: var(--darkPink);
  text-decoration: underline;
}

.resume {
  width: 70%;
  height: 90%;
  border-radius: 1em;
  border: 2px solid var(--lightPink)
  margin 1em auto;
}

#logo {
  max-height: 150px;
  max-width:150px;
}

#logo:hover {
  opacity: 0.7;
}

.logoMove {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

h1 {
  font-size: 100px;
  padding: .3em;
}

p {
  font-size: 24px;
  color: black;
}

  /*for website sections*/
.sect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 60%;
  background-color:var(--grey);
  margin: 3em auto;
  border: 2px solid var(--darkPink);
  border-radius: 1em;
  text-align: center;
}

.sect a {
  font-size: 30px;
  margin: 2em auto;
  text-decoration: none;
  color: var(--darkPink);
}

#hat {
  margin: 0 auto;
  height: 9em;
}

#electronic {
  height:70%;
  width:70%;
}

#guitar {
  height: 60%;
  width:60%;
}
.sect a:hover {
  opacity: 0.6;
}

.sect div {
  margin: auto;
}
/*END SECT*/

/*START NAVIGATION*/
.openButton {
  position: absolute;
  left: .3em;
  top: .3em;
}

.menu-text {
  font-size: 12px;
  display: block;
}

.all-over-bkg {
  display: none;
}

.is-visible {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  display: block;
}

#mySidenav {
  z-index: 10000;
  background-color: var(--grey);
}

#menu {
  height: 300px;
}

#menu:hover{
  opacity: 0.5;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 80px; /* Place content 60px from the top */
  transition: 0.1s; /* 0.5 second transition effect to slide in the sidenav */
  color: var(--medPink);
  border-radius: 3% 3% 3% 3%;
  border: 2px solid var(--lightPink);
}
  
  /* The navigation menu links */
.sidenav a {
  padding: 50px;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  color: black;
  display: block;
  transition: 0.4s;
}
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--lightPink);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 36px;
  margin-left: 50px;
  padding-bottom:20px;
}
/*END NAVIGATION*/

/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */
@media (min-width: 200px) {
  h1 {
    font-size: 12px;
  }
  #menu {
    max-height: 20px;
  }
  .sect {
    width: 93%;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #menu {
    max-height: 30px;
  }
  h1 {
    font-size: 14px;
  }
  #logo {
    max-height: 100px;
    max-width: 100px;
  }
  .sect {
    width: 89%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #menu {
    max-height: 40px;
  }
  h1 {
    font-size: 20px;
  }
  .sect {
    width: 85%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 25px;
  }
  .sect {
    width: 80%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #logo {
    max-height: 120px;
    max-width: 120px;
  }
  .sect {
    width: 75%;
  }
}