/*Import Google Font Julius Sans One*/
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
/* natural box model */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* UTILITIES */
/* hides an element on screen, but not from screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#tag {
	position: fixed;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	background-color: #CC0000;
}
:root{
  --darkPink: #e3c9c9;
  --lightPink: #f4e7e7;
  --medPink: #eedbdb;
  --grey: #cecbcb;
  --mint: #cbdadb;
}

/* no break */
.nobr {
  white-space: nowrap;
}

/* START STYLES HERE */
body {
  font-family: 'Julius Sans One', sans-serif;
  background-color: var(--mint);
  font-size: 50px;
}
/*for website sections*/
.sect {
  display: flex;
  flex-flow: row wrap;
}





/*NAVIGATION*/
.openbtn {
  position: absolute;
  height: 200px;
  left: 20px;
  top: 20px;
  color: black;
}
  
.openbtn:hover {
  color: grey;
 }
  
.menu-text {
  font-size: 11px;
  display: block;
}

.all-over-bkg {
display: none;
}

.is-visible {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  display: block;
}

#mySidenav {
  z-index: 10000;
  background-color: var(--grey);
}

#logo{
  max-height: 100px;
  max-width:100px;
}
#logo:hover{
  opacity: 0.5;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
  color: var(--medPink);
  border-radius: 2% 2% 2% 2%;
  border: 5px solid var(--lightPink);
}
  
  /* The navigation menu links */
.sidenav a {
  padding: 50px;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  color: black;
  display: block;
  transition: 0.4s;
  border-bottom: medium
}
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--lightPink);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding-bottom:20px;
}
/*END NAVIGATION*/




/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #logo {
    max-height: 20px;
    max-width: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #tag {
    background-color: #FF9900;
}
  #logo {
    max-height: 50px;
    max-width: 50px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #tag {
    background-color: #00AA88;
}
  #logo {
    max-height: 60px;
    max-width: 60px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #tag {
    background-color: #674EA7;
  }
  #logo {
    max-height: 70px;
    max-width: 70px;
  }
}